
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #555;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    margin: 20px 0;
}






ul{
    list-style: none;
    padding: 0;
    
}
 ul li{
    display: inline-flexbox;
    

}


